.card{
    background-color: lightgray;
    display: inline-block;
    height: auto;
    width: 200px;

    justify-self: center ;

    border: 1px solid black;
    margin: 5px 0 20px 0;
    box-shadow: 0 0 12px 7px rgba(0,0,0,0.48);
}

.card__link{
    display: block;
    text-decoration: none;
    color: black;
    z-index: 10;
}


.card__header{
    height: auto;
    width: 100%;
    background-color: white;
}

.card__image{
    display: inherit;
    height: 250px;
    width: 100%;
}

.card__body{
    width: auto;
    margin: 10px 0;
    text-align: left;
}

.card__body h3{
    text-align: center;
}

.card__body p{
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card__hr{
    background-color: black;
    height: 1px;
    border: none;
}

.card__footer{
    text-align: center;
    margin: 10px 0;
}


