@import "components/header/header.css";
@import "components/footer/footer.css";
@import "components/main/main.css";

:root{
/*    Global variables    */

}

html,body{
    height: 100%;
}

body {
    background-color: cornsilk;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    height: 100%;
}
